@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@font-face {
  font-family: plain-font;
  src: url(./assets/font/plain-regular-webfont.ttf);
}

*{
  overflow: hidden;
  margin: 0;
  
  padding: 0;
  box-sizing: border-box;
  font-weight: 600;
  font-family: plain-font;
}
.search{
  padding: 1vw 2vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.search h3{
  font-size: 2vw;
  display: flex;
  align-items: center;
  gap: 1vw;
}
.search h3 img{
  width: 4vw;
}
.search form{
  display: flex;
  align-items: center;
  /* gap: 2vw; */
  justify-content: end;
  width: 20vw;
  height: 6vh;
  /* background-color: yellowgreen; */
}
.search form input{
  height: 100%;
  background-color: transparent;
  border: 1px solid rgba(0, 0, 0, 0.253);
  width: 80%;
}
input[type=text] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
}
.search form button{
  display: flex;
  align-items: center;
  justify-content: center;
  
  background-color: rgba(255, 255, 255, 0.418);
  border: none;
  height: 100%;
  cursor: pointer;
  color: black;
  width: 20%;
}
.search form button svg{
  width: 1vw;
  color: white;
}
.info-box{
  /* background-color: yellowgreen; */
}
.info-city{
  margin: 1vw 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 2vw;
}
.info-temp{
  display: flex;
  justify-content: center;
  font-size: 8vw;
  line-height: 1;
}
.info-temp span{
  font-size: 2.5vw;
}
.min-max{
  display: flex;
  justify-content: center;
  gap: 2vw;
  font-size: 1.5vw;
}
.min-max span{
  align-items: center;
  font-size: 1vw;
}
.min-max .min, .max{
  display: flex;
}
.info-description{
  font-size: 4vw;
  display: flex;
  align-items: center;
  justify-content: center;
}
.Additional-info{
  display: flex;
  justify-content:space-around;
  /* margin-top: 5vw; */
}
.add-info-box{
  width: 10vw;
  height: 10vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}
.add-info-box h1{
  font-size: 1.2vw;
}

@media only screen and (max-width: 600px) {
 .search{
  height: 20vw;
  padding: 2vw 2vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.search h3{
  font-size: 4vw;
  display: flex;
  width: 40vw;
  align-items: center;
  gap: 1vw;
}
.search h3 img{
  width: 8vw;
}
.search form{
  display: flex;
  align-items: center;
  /* gap: 2vw; */
  justify-content: end;
  width: 60vw;
  height: 50%;
  /* background-color: yellowgreen; */
}
.search form p{
  font-size: 3vw;
  margin-left: 1vw;
}
.search form input{
  height: 100%;
  background-color: transparent;
  border: 1px solid rgba(0, 0, 0, 0.253);
  width: 80%;
}
input[type=text] {
  width: 100%;
  padding: 2vw;
  margin: 8px 0;
  box-sizing: border-box;
}
.search form button{
  display: flex;
  align-items: center;
  justify-content: center;
  
  background-color: rgba(255, 255, 255, 0.418);
  border: none;
  height: 100%;
  cursor: pointer;
  color: black;
  width: 20%;
}
.search form button svg{
  width: 4.5vw;
  color: white;
}

  .info-city{

  font-size: 4vw;
}
.info-temp{
  display: flex;
  justify-content: center;
  font-size: 16vw;
  line-height: 1;
}
.info-temp span{
  font-size: 5vw;
}
.min-max{
  font-size: 4vw;
}
.min-max span{
  font-size: 3vw;
}
.info-description{
  font-size: 8vw;
  display: flex;
  align-items: center;
  justify-content: center;
}
.Additional-info{
  display: flex;
  /* flex-direction: column; */
  align-items: center;
  /* margin-top: 5vw; */
}
.add-info-box{
  width: 20vw;

  height: 20vw;
  display: flex;
  font-weight: 500;

}
.add-info-box h1{
  font-size: 3vw;
} 
.add-info-box h2{
  font-size: 2vw;
} 
.add-info-box img{
  width: 40%;
}
}