@tailwind base;
@tailwind components;
@tailwind utilities;


@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@font-face {
  font-family: plain-font;
  src: url(./assets/font/plain-regular-webfont.ttf);
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* font-family: 'Poppins'; */
  font-weight: 600;
  font-family: plain-font;
  /* overflow: hidden; */
}
.search{
  padding: 1vw 2vw;
  /* background-color: yellowgreen; */
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.search h3{
  font-size: 2vw;
  display: flex;
  align-items: center;
  gap: 1vw;
}
.search h3 img{
  width: 4vw;
}
.search form{
  display: flex;
  align-items: center;
  gap: 2vw;
  justify-content: center;
}
.search form button{
  background-color: transparent;
  border: none;
  cursor: pointer;
  color: black;
}
.info-box{
  /* background-color: yellowgreen; */
}
.info-city{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 2vw;
}
.info-temp{
  display: flex;
  justify-content: center;
  font-size: 8vw;
  line-height: 1;
}
.info-temp span{
  font-size: 2.5vw;
}
.min-max{
  display: flex;
  justify-content: center;
  gap: 2vw;
  font-size: 1.5vw;
}
.min-max span{
  align-items: center;
  font-size: 1vw;
}
.min-max .min, .max{
  display: flex;
}
.info-description{
  font-size: 4vw;
  display: flex;
  align-items: center;
  justify-content: center;
}
.Additional-info{
  display: flex;
  justify-content:space-around;
  /* margin-top: 5vw; */
}
.add-info-box{
  width: 10vw;
  height: 10vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}
.add-info-box h1{
  font-size: 1.2vw;
}

@media only screen and (max-width: 600px) {
 .info-city{

  font-size: 4vw;
}
.info-temp{
  display: flex;
  justify-content: center;
  font-size: 16vw;
  line-height: 1;
}
.info-temp span{
  font-size: 5vw;
}
.min-max{
  font-size: 4vw;
}
.min-max span{
  font-size: 3vw;
}
.info-description{
  font-size: 8vw;
  display: flex;
  align-items: center;
  justify-content: center;
}
.Additional-info{
  display: flex;
  /* flex-direction: column; */
  align-items: center;
  /* margin-top: 5vw; */
}
.add-info-box{
  width: 20vw;

  height: 20vw;
  display: flex;
  font-weight: 500;

}
.add-info-box h1{
  font-size: 3vw;
} 
.add-info-box img{
  width: 40%;
}
}